<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<main th:fragment="main">
    <div class="row">
        <nav>
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="?lang=en">English</a></li>
                    <li><a href="?lang=ru">Русский</a></li>
                    <li><a th:href="@{|/admin|}" th:text="#{admin}"></a></li>
                    <li><a th:href="@{|/admin/workers|}" th:text="#{workers}"></a></li>
                    <li><a th:href="@{|/admin/orders|}" th:text="#{orders}"></a></li>
                    <li><a th:href="@{/logout}" th:text="#{log.out}"></a></li>
                </ul>
            </div>
        </nav>
    </div>
</main>
</body>
</html>