<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<main th:fragment="main">
  <div class="row">
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="?lang=en">English</a></li>
          <li><a href="?lang=ru">Русский</a></li>
          <li><a th:href="@{|/dispatcher/users|}" th:text="#{users.list}"></a></li>
          <li><a th:href="@{|/dispatcher|}" th:text="#{dispatcher.page}"></a></li>
          <li><a th:href="@{|/dispatcher/workers|}" th:text="#{workers}"></a></li>
          <li><a th:href="@{|/dispatcher/workplans|}" th:text="#{workplans}"></a></li>
          <li><a th:href="@{/logout}" th:text="#{log.out}"></a></li>
        </ul>
      </div>
    </nav>
  </div>
</main>
</body>
</html>