<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<main th:fragment="main">
  <div class="row">
    <nav style="box-shadow: none; background-color: rgba(255,255,255,0.7);">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a style="color: #5a5a5a;" href="?lang=en">English</a></li>
          <li><a style="color: #5a5a5a;" href="?lang=ru">Русский</a></li>
          <li><a style="color: #5a5a5a;" th:href="@{|/user/orders|}" th:text="#{orders.list}"></a></li>
          <li><a style="color: #5a5a5a;" th:href="@{/logout}" th:text="#{log.out}"></a></li>
        </ul>
      </div>
    </nav>
  </div>
</main>
</body>
</html>