<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{add.order}"></title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
</head>
<body>
<div th:include="components/header::head"/>
<div th:include="components/user_navbar::main"/>
<div class="container">
    <div class="row">
        <h2 class="center-align" th:text="#{add.order}" />
    </div>
    <div style="max-width: 555px;margin: auto; box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);border: 1px solid #dbe2e8;">
        <div class="row" style="padding-top: 1rem">
            <form class="col s8 offset-s2" th:action="@{|/user/orders/add|}" method="post">
                <div class="row">
                    <textarea th:name="description" class="materialize-textarea"></textarea>
                  <label class="active" th:text="#{description}"></label>
                </div>
                <div class="row">
                  <input type="text" th:name="expectedDate"/>
                  <label class="active" th:text="#{expected_date}"></label>
                </div>
                <div class="section row">
                    <button style="background: #02b3e4;" class="btn" type="submit" th:text="#{submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>