<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin}"></title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/admin_navbar::main"></div>
<div class="container">
    <div th:if="${not #lists.isEmpty(users)}">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s4"><a href="#adminlst" th:text="#{admins.list}"></a></li>
                    <li class="tab col s4"><a class="active" href="#userlst" th:text="#{users.list}"></a></li>
                    <li class="tab col s4"><a href="#orderlst" th:text="#{dispatchers.list}"></a></li>
                </ul>
            </div>
            <div id="adminlst" class="col s12">
                <h2 class="center-align" th:text="#{admins.list}" />
                <table>
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td th:text="#{userName}"></td>
                        <td th:text="#{address}"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <div th:if="${user.role.equals(ADMIN)}">
                            <td th:text="${user.id}"/>
                            <td th:text="${user.fullName}"/>
                            <td th:text="${user.address}"/>
                            <td><a th:if="${currentUser.id != user.id}" th:href="@{|/admin/deleteuser/${user.id}|}">X</a></td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="userlst" class="col s12">
                <h2 class="center-align" th:text="#{users.list}" />
                <table>
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td th:text="#{userName}"></td>
                        <td th:text="#{address}"></td>
                        <td th:text="#{role}"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"/>
                        <td th:text="${user.fullName}"/>
                        <td th:text="${user.address}"/>
                        <td>
                            <a th:href="@{|/admin/changerole/${user.id}|}">
                                <div th:switch="${user.role.getRole()}">
                                <p th:case="ADMIN" th:text="#{admin}"></p>
                                <p th:case="USER" th:text="#{user}"></p>
                                <p th:case="DISPATCHER" th:text="#{dispatcher}"></p>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a th:if="${currentUser.id != user.id}" th:href="@{|/admin/deleteuser/${user.id}|}">X</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="orderlst" class="col s12">
                <h2 class="center-align" th:text="#{dispatchers.list}" />
                <table>
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td th:text="#{userName}"></td>
                        <td th:text="#{address}"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <div th:if="${user.role.equals(DISPATCHER)}">
                            <td th:text="${user.id}"/>
                            <td th:text="${user.fullName}"/>
                            <td th:text="${user.address}"/>
                            <td><a th:href="@{|/admin/deleteuser/${user.id}|}">X</a></td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--
<div>
    <form th:action="@{/add}" method="post">
        <input type="text" th:name="userName" th:placeholder="UserName" />
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>
-->
</body>
<script type="text/javascript">
    $(document).ready(function(){
        $('.tabs').tabs();
    });
</script>
</html>