<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{workers}"></title>
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/admin_navbar::main"></div>
<div class="container">
    <h2 class="center-align" th:text="#{workers.list}" />
    <div th:if="${not #lists.isEmpty(workers)}">
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td th:text="#{name}"></td>
                    <td th:text="#{specialization}"></td>
                    <td th:text="#{status}"></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="worker : ${workers}">
                    <td th:text="${worker.id}"/>
                    <td th:text="${worker.name}"/>
                    <td th:text="${worker.specialization}"/>
                    <td th:text="${worker.isFree()} ? 'free' : 'at work'" />
                    <td><a th:href="@{|/admin/deleteworker/${worker.id}|}">X</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>