<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{orders}"></title>
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/admin_navbar::main"></div>
<div class="container">
    <h2 class="center-align" th:text="#{orders.list}" />
    <div th:if="${not #lists.isEmpty(orders)}">
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td th:text="#{name}"></td>
                    <td th:text="#{description}"></td>
                    <td th:text="#{status}"></td>
                    <td th:text="#{expected_date}"></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <div th:each="o : ${order.keySet()}">
                        <td th:text="${o.id}"/>
                        <td th:text="${order.get(o)}"/>
                        <td th:text="${o.description}"/>
                        <td>
                            <div th:switch="${o.status.getStatus()}">
                                <p th:case="ADDED" th:text="#{added}"></p>
                                <p th:case="IN_PROCESS" th:text="#{in.process}"></p>
                                <p th:case="DONE" th:text="#{done}"></p>
                            </div>
                        </td>
                        <td th:text="${o.expectedDate}"/>
                        <td><a th:href="@{|/admin/deleterequest/${o.id}|}">X</a></td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>