<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{change.order}"></title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/user_navbar::main"></div>
<div class="container">
    <div class="row">
        <h2 class="center-align" th:text="#{change.order}" />
    </div>
    <div style="max-width: 655px; margin: auto; box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);border: 1px solid #dbe2e8;">
        <div class="row" style="padding-top: 1rem; padding-bottom: 1rem">
            <form class="col s8 offset-s2" th:action="@{|/user/orders/change/${orderId}|}" method="post">
                <div class="row">
                    <div class="col s2">
                        <input id="order_id" type="text" th:name="id"  th:value="${orderId}" disabled="disabled"/>
                        <label for="order_id" class="active" th:text="#{number}"></label>
                    </div>
                    <div class="col s6 offset-s4">
                        <input id="name" type="text" th:name="full_name" th:value="${fullName}" disabled="disabled"/>
                        <label for="name" class="active" th:text="#{user.full.name}"></label>
                    </div>
                </div>
                <div class="row">
                    <textarea class="materialize-textarea" th:name="description" th:value="${description}"></textarea>
                    <label class="active" th:text="#{description}"></label>
                </div>
                <div class="row">
                    <input type="text" th:name="expectedDate" th:value="${expectedDate}" disabled="disabled"/>
                    <label class="active" th:text="#{expected_date}"></label>
                </div>
                <div class="row">
                    <input type="text" th:name="status" th:value="${status}" disabled="disabled"/>
                    <label class="active" th:text="#{status}"></label>
                </div>
                <div class="section row">
                    <button style="background: #02b3e4;" class="btn" type="submit" th:text="#{edit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>