<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{change.order.status}"></title>
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/dispatcher_navbar::main"></div>
<div class="container">
    <div th:if="${not #lists.isEmpty(order)}">
        <div th:each="u : ${order}">
            <h2 th:text="#{select.status}"><span th:text="${order.getStatus()}"/></h2>
            <form th:action="@{|/dispatcher/orders/${order.id}|}" method="POST">
                <p th:each="s : ${status}">
                    <label>
                        <input type="checkbox" name="orderStatus" th:value="${s}"/>
                        <span th:if="${s.name()} == 'ADDED'" th:text="#{added}"></span>
                        <span th:if="${s.name()} == 'IN_PROCESS'" th:text="#{in.process}"></span>
                        <span th:if="${s.name()} == 'DONE'" th:text="#{done}"></span>
                        <!--<span th:text="${s.name()}" th:name="orderStatus"/>-->
                    </label>
                </p>
                <button class="btn waves-effect waves-light center-align" type="submit" th:text="#{update}"></button>
            </form>
        </div>
    </div>
</div>

</body>
</html>