<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{change.role}"></title>
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/admin_navbar::main"></div>
<div class="container">
    <div th:if="${not #lists.isEmpty(user)}">
        <div th:each="u : ${user}">
            <h2> <span th:text="#{select_role}+' '+${u.fullName}"/></h2>
            <form th:action="@{|/admin/changerole/${u.id}|}" method="POST">
                <p th:each="r : ${role}">
                    <label>
                        <input type="checkbox" name="role" th:value="${r}"/>
                        <span th:if="${r.role} == 'USER'" th:text="#{user}"></span>
                        <span th:if="${r.role} == 'ADMIN'" th:text="#{admin}"></span>
                        <span th:if="${r.role} == 'DISPATCHER'" th:text="#{dispatcher}"></span>
                        <!--<span th:text="${r.role}"/>-->
                    </label>
                </p>
                <button class="btn waves-effect waves-light center-align" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>