<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{users.list}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/dispatcher_navbar::main"></div>
<div class="container" th:if="${not #lists.isEmpty(users)}">
    <h2 class="center-align" th:text="#{users.list}" />
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td th:text="#{name}"></td>
            <td th:text="#{address}"></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <div th:if="${user.role.role.equals('USER')}">
            <td th:text="${user.id}"/>
            <td th:text="${user.fullName}"/>
            <td th:text="${user.address}"/>
            </div>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>