<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{workplans}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/dispatcher_navbar::main"></div>
<div class="container" th:if = "${not #lists.isEmpty(workplans)}">
    <h2 th:text="#{workplans}"/>
    <table>
        <thead>
        <tr>
            <td th:text="#{workplan.id}"></td>
            <td th:text="#{order.id}"></td>
            <td th:text="#{brig.id}"></td>
            <td th:text="#{description}"></td>
            <td th:text="#{expected_date}"></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workplan : ${workplans}">
            <td th:text="${workplan.id}"></td>
            <td th:text="${workplan.orderId}"></td>
            <td th:text="${workplan.brigId}"></td>
            <td th:text="${workplan.description}"></td>
            <td th:text="${workplan.deadlineDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>