<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{workers}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/dispatcher_navbar::main"></div>
<div class="container" th:if="${not #lists.isEmpty(workers)}">
    <h2 class="center-align" th:text="#{workers.list}"/>
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td th:text="#{name}"></td>
            <td th:text="#{specialization}"></td>
            <td th:text="#{status}"></td>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="worker : ${workers}">
            <td th:text="${worker.id}"/>
            <td th:text="${worker.name}"/>
            <td th:text="${worker.specialization}"/>
            <td>
                <a th:href="@{|/dispatcher/workers/${worker.id}|}">
                    <span th:if="${worker.isFree()}" th:text="#{isfree}"/>
                    <span th:if="${!worker.isFree()}" th:text="#{busy}" />
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>