<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{dispatcher}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:include="components/header::head" />
    <div th:include="components/dispatcher_navbar::main"/>
    <div class="container">
        <div class="row center-align">
            <p style="font-size: 32px; font-weight: 100;" th:text = "#{dispatchers.main.page}" />
        </div>
        <div class="row" th:if = "${not #lists.isEmpty(orders)}">
            <table>
                <thead>
                    <tr>
                        <td th:text="#{user.full.name}"></td>
                        <td th:text="#{description}"></td>
                        <td th:text="#{status}"></td>
                        <td th:text="#{expected_date}"></td>
                        <td th:text="#{new.brig}"></td>
                        <td th:text="#{new.workplan}"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${userIdToNameMap.get(order.getUserId())}"></td>
                        <td th:text="${order.description}"></td>
                        <td>
                            <a th:href="@{|/dispatcher/orders/${order.id}|}">
                            <div th:switch="${order.status.getStatus()}">
                                <p th:case="ADDED" th:text="#{added}"></p>
                                <p th:case="IN_PROCESS" th:text="#{in.process}"></p>
                                <p th:case="DONE" th:text="#{done}"></p>
                            </div>
                        </td>
                        <td th:text="${order.expectedDate}"></td>
                        <td><a th:href="@{|/dispatcher/brigades/newbrigade|}" th:text="#{form.brig}"></a></td>
                        <td><a th:href="@{|/dispatcher/newworkplan/${order.id}/|}"th:text="#{create.workplan}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>