<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{workers}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/dispatcher_navbar::main"></div>
<div class="container" th:if="${not #lists.isEmpty(workers)}">
    <h2 th:text="#{you.formed.a.brigade}" />
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td th:text="#{name}"></td>
                <td th:text="#{specialization}"></td>
                <td th:text="#{status}"></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="worker : ${workers}">
                <td th:text="${worker.id}"/>
                <td th:text="${worker.name}"/>
                <td th:text="${worker.specialization}"/>
                <td>
                    <span th:if="${worker.isFree()}" th:text="#{isfree}"/>
                    <span th:if="${!worker.isFree()}" th:text="#{busy}" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>