<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{change.worker.status}"></title>
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/admin_navbar::main"></div>
<div class="container">
    <div th:if="${not #lists.isEmpty(worker)}">
        <div th:each="w : ${worker}">
            <h2> <span th:text="#{select_role}+' '+${worker.name}"/></h2>
            <form th:action="@{|/dispatcher/workers/${workerId}|}" method="POST">
                <p th:each="status : ${workerStatus}">
                    <label>
                        <input type="checkbox" name="workerStatus" th:value="${status}"/>
                        <span th:text="${status}"/>
                    </label>
                </p>
                <button class="btn waves-effect waves-light center-align" type="submit" th:text="#{update}"></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>