<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{utilities.new.brigade}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:include="components/header::head" />
<div th:include="components/dispatcher_navbar::main"/>
<div class="container">
    <div class="row">
        <p style="font-weight: 200; font-size: 32px" th:text="#{form.brig}" />
    </div>
    <div th:if="${not #lists.isEmpty(workers)}">
        <table>
            <tr>
                <td>ID</td>
                <td th:text="#{name}"></td>
                <td th:text="#{specialization}"></td>
                <td th:text="#{isfree}"></td>
                <td th:text="#{submit}"></td>
                <form th:action="@{|/dispatcher/brigades/newbrigade|}" method="post">
            <tr>
                <input class="btn" type="submit" th:value="#{submit}"/>
                <p><input type="text" th:name="brigadeId" th:placeholder="#{enter.desirable.brigade.id}"/></p>
            </tr>

            <tr th:each="worker : ${workers}">
                <td th:text="${worker.id}"/>
                <td th:text="${worker.name}"/>
                <td th:text="${worker.specialization}"/>
                <td>
                    <span th:if="${worker.free}" th:text="#{isfree}"/>
                    <span th:if="${!worker.free}" th:text="#{busy}" />
                </td>
                <td><label>
                    <input type="checkbox" th:name="isInBrigade" th:value="${worker.id}"/>
                    <span/>
                </label>
            </tr>
                </form>
        </table>
    </div>
</div>
</body>
</html>