<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{new.workplan}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/dispatcher_navbar::main"></div>
<div class="container">
    <h2 class="center-align" th:text="#{workplans}"/>
    <div style="max-width: 655px;margin: auto; box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);border: 1px solid #dbe2e8;">
    <div class="row" style="padding-top: 1rem">
        <form class="col s8 offset-s2" th:action="@{|/dispatcher/newworkplan/${orderId}|}" method="post">
            <div class="row">
                <input type= "text" th:name="orderId" th:value="${orderId}" disabled="disabled"/>
            </div>
            <div class="row">
                <input type= "text" th:name="brigId" th:placeholder="#{brig.id}"/>
            </div>
            <div class="row">
                <input type= "text" th:name="deadline" th:value="${deadline}"/>
            </div>
            <div class="row">
                <input type= "text" th:name="description" th:value="${description}"/>
            </div>
            <div class="row">
                <input class="btn" type="submit" th:value="#{submit}"/>
            </div>
        </form>
    </div>
    </div>
</div>

</body>
</html>