<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta charset="utf-8" />
</head>
<body>
<div th:include="components/header::head"></div>
<div class="container">
    <div style="height: 100vh" class="valign-wrapper">
        <div class="row">
            <h1>404</h1>
        </div>
        <div class="row">
            <h1>PAGE NOT FOUND</h1>
        </div>
        <div class="row">
            <a href="/" th:href="@{/}">Back to Home Page</a>
        </div>
    </div>
</div>
</body>
</html>