<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta charset="utf-8" />
</head>
<body>
<div th:include="components/header::head"></div>
<div class="container">
    <div style="height: 100vh" class="valign-wrapper">
        <h1>403</h1>
        <h1>FORBIDDEN</h1>
        <a href="/" th:href="@{/}">Back to Home Page</a>
    </div>
</div>
</body>
</html>