<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{public.utilities.login}"></title>
</head>
<body>
    <div class="container" style="padding-top: 3rem;">
        <div th:include="components/header::head" />
        <div class="row" th:if="${param.error}" th:text="#{invalid}" />
        <div class="row" th:if="${param.logout}" th:text="#{logged.out}" />
        <div style="width: 375px;margin: auto; box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);border: 1px solid #dbe2e8;">
            <div class="section">
                <div class="row center-align">
                    <p style="font-weight: 300; font-size: 24px;" th:text="#{log.in}"></p>
                </div>
                <div class="row">
                    <form class="col s8 offset-s2" th:action="@{/login}" method="post">
                        <div class="row">
                            <label><span th:text="#{userName}"></span><input type="text" name="username"/></label>
                        </div>
                        <div class="row">
                            <label><span th:text="#{password}"></span><input type="password" name="password"/></label>
                        </div>
                        <div class="row">
                            <label>Remember me: </label>
                            <input style="opacity: 10; pointer-events: auto; margin: 5px" type="checkbox" name="remember-me"/>
                        </div>
                        <div class="row center-align">
                            <input style="background: #02b3e4;" class="btn-large" type="submit" th:value="#{submit}" />
                        </div>
                    </form>
                </div>
            </div>
            <div style="margin: auto; width: 80%;" class="divider"></div>
            <div class="section">
                <div class="row center-align">
                    <form th:action="@{/register}" method="get">
                        <input style="background: #02b3e4;" class="btn-large" type="submit" th:value="#{register}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>