<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{register}"></title>
</head>
<body>
<div th:include="components/header::head" />
<div class="container" style="padding-top: 1rem;">
    <div style="width: 455px;margin: auto; box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);border: 1px solid #dbe2e8;">
        <div class="section">
            <div class="row center-align">
                <p style="font-weight: 300; font-size: 24px;" th:text="#{signUp}"></p>
            </div>
            <div class="row">
                <form class="col s8 offset-s2" th:action="@{/register}" method="post">
                    <div class="row">
                        <label><span th:text="#{userName}"></span> <input type="text" name="username"/></label>
                    </div>
                    <div class="row">
                        <label><span th:text="#{password}"></span><input type="password" name="password"/></label>
                    </div>
                    <div class="row">
                        <label><span th:text="#{user.full.name}"></span><input type="text" name="fullName"/></label>
                    </div>
                    <div class="row">
                        <label><span th:text="#{address}"></span><input type="text" name="address"/></label>
                    </div>
                    <div class="row center-align">
                        <input style="background: #02b3e4;" class="btn-large" type="submit" th:value="#{register}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>