<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{user.orders.list}"></title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
<div th:include="components/header::head"></div>
<div th:include="components/user_navbar::main"></div>
<div class="container">
    <div class="row">
        <h2 class="center-align" th:text="#{user.orders.list}" />
    </div>
    <div class="row" th:if="${not #lists.isEmpty(usersOrders)and not #strings.isEmpty(userFullName)}">
        <table style="margin: auto">
            <thead>
                <tr>
                    <td>ID</td>
                    <td th:text="#{user.full.name}"></td>
                    <td th:text="#{description}"></td>
                    <td th:text="#{status}"></td>
                    <td th:text="#{expected_date}"></td>
                    <td th:text="#{edit}"></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${usersOrders}">
                    <td th:text="${order.id}"/>
                    <td th:text="${userFullName}"/>
                    <td th:text="${order.description}"/>
                    <td>
                        <div th:switch="${order.status.getStatus()}">
                            <p th:case="ADDED" th:text="#{added}"></p>
                            <p th:case="IN_PROCESS" th:text="#{in.process}"></p>
                            <p th:case="DONE" th:text="#{done}"></p>
                        </div>
                    </td>
                    <td th:text="${order.expectedDate}"/>
                    <td>
                        <a style="background: #02b3e4;" class="btn" th:href="@{|/user/orders/change/${order.id}|}" th:text="#{edit}"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section row center-align">
        <a style="background: #02b3e4;" class="btn" th:href="@{|/user/orders/add|}" th:text="#{add.order}"/>
    </div>
</div>

</body>
</html>